.English_Title {
    -fx-font-size: 24px;
    -fx-text-fill: #fa1717;
}

.Phonetic_Title {
    -fx-font-size: 24px;
    -fx-text-fill: #2ca2d5;
}

.Meaning_Title {
    -fx-font-size: 24px;
    -fx-text-fill: #FF9900;
}

.label1 {
    -fx-fill: #000080;
    -fx-font-size: 50px;
    -fx-weight: Semi Bold;
}

.English-Word {
    -fx-font-size: 20px;
    -fx-background-insets: 0, 1;
    -fx-text-box-border: #f84c4c;
    -fx-control-inner-background: #FFF0F0 ;
    -fx-focus-color: #FF2020 ;
    -fx-text-fill: #000;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.Phonetic_Word {
    -fx-font-size: 20px;
    -fx-background-insets: 0, 1;
    -fx-text-box-border: #4fdaff;
    -fx-control-inner-background: #daf7ff;
    -fx-focus-color: #03beff;
    -fx-text-fill: #000;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}


.Meaning_World {
    -fx-control-inner-background: #FFFFCC;
    -fx-background-radius: 20px;
    -fx-border-color: #FF9900;
    -fx-border-radius: 20px;
    -fx-font-size: 18px;
    -fx-background-color: #FFFFCC;
    -fx-padding: 5px;
    -fx-border-insets: 5px 5px 5px 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.button {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #00FF00;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.root {
     -fx-background-image: url('add.jpg');
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover, autor;
}